html{
    background-color: #22272c;
    font-family: 'IBM Plex Sans', sans-serif;
}

.header{
    top: 0;
	left: 0;
	z-index: 1;
	position: fixed;
	width: 100%;
	height: 75px;
    background-color: #2e343b;
    display: inline;
}

.page_header{
    margin-left: 20%;
    margin-right: 20%;
}

#isi_header{
    float: right;
    padding-top: 25px;
    text-decoration: none;
    font-size: 19px;
    padding-left: 25px;
    display: inline;
	color: #e6f1ff;
}

#isi_header2{
    display: inline;
}

#isi_header2 i{
    font-size: 50px;
    padding-top: 10px;
    color: #d8232a;
}


#isi_header:active{
    color: #d8232a;
}
