html{
    background-color: #22272c;
    font-family: 'IBM Plex Sans', sans-serif;
}
img{
    padding-top: 8px;
    height: 57px;
    width: 214px;
}
.header{
    top: 0;
	left: 0;
	z-index: 1;
	position: fixed;
	width: 100%;
	height: 75px;
    background-color: #2e343b;
    display: inline;
}

.page_header{
    margin-left: 20%;
    margin-right: 20%;
}

#judul_header{
    font-weight: 800;
    position: relative;
    display: inline;
    font-size: 35px;
    color: #f1f2f3;
}

#isi_header{
    float: right;
    padding-top: 25px;
    text-decoration: none;
    font-size: 19px;
    padding-left: 25px;
    display: inline;
	color: #f1f2f3;
}

#isi_header2{
    display: inline;
}

#isi_header2 i{
    font-size: 50px;
    padding-top: 10px;
    color: #d8232a;
}

.aktif{
    color: #d8232a;
}

#isi_header:hover{
    color: #d8232a;
}

.main{
    margin-top: 150px;
}

.page_main{
    color: #f1f2f3;
    margin-left: 20%;
    margin-right: 20%;
}

.judul_main h1{
    width: 75%;
    font-size: 45px;
}

.judul_main .isi_satu{
    font-size: 17px;
}

.isi_main{
    width: 100%;
    font-size: 20px;
}
.poto table{
	color: #f1f2f3;
}
.poto img{
	border-radius:20%;
        height: 150px;
        width: 150px;
}
