html {
	-webkit-font-smoothing: antialiased;
	background: #0a192f;
	scroll-behavior: smooth; 
}

#top2,#blok1, #blok2{
	margin-top: 160px;
}

.atas{
	top: 0;
	left: 0;
	z-index: 3;
	position:fixed;
	width:100%;
	height:8%;
	background-color:#132d53 ;
	transition: top 0.3s;
}

.isi{
	justify-content:center;
	margin: 0 auto;
	width: 550px;
	padding: 25px;
	height: 100%;
	margin-top: 110px;
}

.next{
	z-index: -10;
	margin-top: 40px;
}

.prev{
	z-index:-10;
	margin-top: 40px;
}

#isi_atas{
	display: inline-block;
	padding-left: 25px;
	font-size: 35px;
	padding-top: 15px;
	margin: auto;
	color: #e6f1ff;
}

#isi_atas2{
	text-decoration: none;
	margin-right: 20px;
	font-weight: 100;
	display: inline-block;
	float: right;
	justify-content: center;
	font-size: 20px;
	margin-top: 25px;
	text-align: center;
	color: #e6f1ff;
	padding: 4px;
	transition: 0.5s;
	border-radius: 2px;
}

#isi_atas2:hover{
	color: #0a192f;
	background-color: #63ffda;
}

#isi_next{
	font-weight: 100;
	padding: 10px;
	border: 2px solid #63ffda;
	color: #63ffda;
	text-decoration: none;
	border-radius:3px;
	animation: kedip 7s forwards;
	transition: 0.5s;
}

#isi_next:hover{
	color: #0a192f;
	background-color: #63ffda;
}

#isi_prev{
	font-weight: 100;
	padding: 10px;
	border: 2px solid #63ffda;
	color: #63ffda;
	text-decoration: none;
	border-radius:3px;
	animation: kedip 7s forwards;
	transition: 0.5s;
}

#isi_prev:hover{
	color: #0a192f;
	background-color: #63ffda;
}

#judul, #desc, #judul2, #desc2, #isi_next, #isi_prev, #isi_atas, #isi_atas2 {
	text-align: left;
	font-family: 'Google Sans', sans-serif;
}

#judul, #judul2 {
	animation: kedip 5s;
	font-size: 40px;
	color: #e6f1ff;
}

#desc, #desc2{
	text-align: justify;
	font-weight: 200;
	animation: kedip 5s;
	font-size: 20px;
	color: #8892af;
	margin-top: 20px;
}

i{
	justify-content: center;
	margin-left: 5px;
}

img{
	animation: kedip 5s;
	max-width: 100%;
}

@keyframes kedip {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@media (max-width: 320px) {
	#judul, #judul2, #isi_atas {
		font-size: 30px;
	}

	#isi_atas{
		padding-left: 25px;
		padding-top: 5px;
	}

	#isi_atas2{
		display: none;
	}
	#desc, #desc2{
		margin-top: 20px;
	}
	.atas{
		height:7%;
	}
	.isi{
		margin-top: 90px;
	}
	.isi, .next, .prev{
		width: 70%;
	}
	
}

@media (min-width: 321px) and (max-width: 480px) {
	#judul, #judul2, #isi_atas {
		font-size: 30px;
	}

	#isi_atas{
		padding-left: 25px;
		padding-top: 8px;
	}

	#isi_atas2{
		display: none;
	}
	#desc, #desc2{
		margin-top: 20px;

	}
	.atas{
		height:7%;
	}
	.isi{
		margin-top: 110px;
	}
	.isi, .next, .prev{
		width: 70%;
	}
	
}

@media (min-width: 481px) and (max-width: 960px) {
	#judul, #judul2,  #isi_atas {	
		font-size: 35px;
	}

	#isi_atas{
		display: block;
		padding-left: 25px;
		padding-top: 11px;
	}

	#isi_atas2{
		display: none;
	}
	#desc, #desc2{
		margin-top: 20px;
	}
	.atas{
		height:7%;
	}
	.isi{
		margin-top: 110px;
	}
	.isi, .next, .prev{
		width: 80%;
	}
}
