html{
    background-color: #22272c;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    font-family: 'IBM Plex Sans', sans-serif;
}
#logo{
    padding-top: 8px;
    height: 57px;
    width: 214px;
}
.header{
    top: 0;
	left: 0;
	z-index: 1;
	position: fixed;
	width: 100%;
	height: 75px;
    background-color: #2e343b;
    display: inline;
}

.page_header{
    margin-left: 20%;
    margin-right: 20%;
}

#judul_header{
    font-weight: 800;
    position: relative;
    display: inline;
    font-size: 35px;
    color: #f1f2f3;
}

#isi_header{
    float: right;
    padding-top: 25px;
    text-decoration: none;
    font-size: 19px;
    padding-left: 25px;
    display: inline;
    color: #f1f2f3;
}

.aktif{
    border-bottom: 2px solid #d8232a;
}

#isi_header:hover{
    transition: .5s;
    color: #d8232a;
}

.main{
    margin-top: 150px;
}

.page_main{
    color: #f1f2f3;
    margin-left: 20%;
    margin-right: 20%;
    
}

.page_main2{
    border-radius: 2%;
    height: 350px;
    text-align: center;
    color: #f1f2f3;
    margin-left: 20%;
    margin-right: 20%;
    padding: 8%;
}

.page_main2 hr{
    width: 75%;
    color: #bebebe;
	background-color: #bebebe;
	height:1px;
    border:0;
}

.judul_main{
    width: 75%;
    font-size: 25px;
}

.judul_main2{
    font-size: 23px;
}

.sub_judul_main{
    width: 50%;
}

.sub_judul_main p{
    font-size: 20px;
}

.sub_judul_main2 p{
    font-size: 20px;
}

.isi_main{
    width: 100%;
    font-size: 20px;
}

.isi_main ul li p a{
    text-decoration: none;
    color: #d8232a;
}

.isi_main ul li p a:hover{
    color: #db437d;
    transition: 0.5s;
}

.isi_anggota{
    text-align: center;
}

.anggota{
    text-align: center;
    padding-right: 70px;
    margin-top: 30px;
    max-width: 150px;
    display: inline-block;
}

.anggota img{
    width: 130px;
}

.anggota #nama{
    font-weight: bold;
    font-size: 20px;
}

.anggota #nim{
    font-size: 16px;
}

hr{
    color: #bebebe;
	background-color: #bebebe;
	height:1px;
	border:0
}
