html{
    background-color: #22272c;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    font-family: 'IBM Plex Sans', sans-serif;
}

#bg{
    background-image: url(bg.png);
    background-size: 100%;
}

#logo{
    padding-top: 8px;
    height: 57px;
    width: 214px;
}

.header{
    top: 0;
	left: 0;
	z-index: 1;
	position: fixed;
	width: 100%;
	height: 75px;
    background-color: #2e343b;
    display: inline;
}

.page_header{
    margin-left: 20%;
    margin-right: 20%;
}

#isi_header{
    float: right;
    padding-top: 25px;
    text-decoration: none;
    font-size: 19px;
    padding-left: 25px;
    display: inline;
    color: #f1f2f3;
    transition: 0.5s;
}

.aktif{
    border-bottom: 2px solid #d8232a;
}

#isi_header:hover{
    color: #d8232a;
}

.main{
    animation: kedip 3s;
    margin-top: 150px;
    margin-bottom: 50px;
}

.page_main{
    color: #f1f2f3;
    margin-left: 20%;
    margin-right: 20%;
    
}

.page_main2{
    border-radius: 2%;
    height: 350px;
    text-align: center;
    color: #f1f2f3;
    margin-left: 20%;
    margin-right: 20%;
    padding: 5% 8%;
}

.page_main2 hr{
    width: 75%;
    color: #bebebe;
    background-color: #bebebe;
    height:1px;
    border:0;
}

.judul_main{
    width: 75%;
    font-size: 25px;
}

.judul_main2{
    font-size: 23px;
}

.sub_judul_main2 p{
    font-size: 20px;
}

.isi_main{
    width: 100%;
    font-size: 20px;
}

.isi_main a{
    text-decoration: none;
    color: #d8232a;
    transition: 0.5s;
}

.isi_main a:hover{
    color: #e6afb1; 
}

.isi_main img{
    border: 3px solid #d8232a;
    margin: 10px 0;
    width:500px;
}

.isi_anggota{
    text-align: center;
}

.anggota{
    text-align: center;
    padding: 0 25px;
    margin-top: 30px;
    display: inline-block;
}

.anggota img{
    border-radius: 100%;
    width: 130px;
    transition: 0.5s;
}

.anggota img:hover{
    width: 195px;
}

.anggota #nama{
    font-weight: bold;
    font-size: 20px;
}

.anggota #nim{
    font-size: 16px;
}

hr{
    color: #bebebe;
    background-color: #bebebe;
    height:1px;
    border:0
}


#tombol{
    font-weight: 100;
    padding: 10px;
    border: 2px solid #d8232a;
    color: white;
    text-decoration: none;
    border-radius:3px;
    transition: .5s;
}

#tombol:hover{
    color: black;
    border: 2px solid #e6afb1;
    background-color: #e6afb1;
}

.pertombolan{
    margin: 50px 0;
    text-align: center;
}

details > summary {
    padding: 4px;
    width: 200px;
    background-color: #22272c;
    border: 1px solid whitesmoke;
    border-radius: 4px;
    cursor: pointer;
}
  
details > a {
    font-size: 18px;
    background-color: #22272c;
    padding: 4px;
    margin: 0;
    display: block;
}

@keyframes kedip {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
